# Python
__pycache__/
*.py[cod]
*.pkcls
*.pkl
*.sqlite3

# Environment
.env
env/
venv/
ENV/
.venv/
*.env

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Flask instance or secrets
instance/
*.log
instance/grades.db
create_users.py
config.py
app/utils/postprocessing_ext.py