<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="{{ url_for('static', filename='index.js') }}" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
  <div class="login-wrapper">
    <div class="login-box">
      <h2>Login to Grade Predictor</h2>
      <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password</label>
        <div class="input-wrapper">
          <input type="password" name="password" id="password" required>
          <i class="bi bi-eye-slash toggle-password" data-target="password"></i>
        </div>

        <label for="master">Master Key</label>
        <div class="input-wrapper">
          <input type="password" name="master" id="master" required>
          <i class="bi bi-eye-slash toggle-password" data-target="master"></i>
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
